.container-padding {
    padding-top: 80px; 
    padding-bottom: 60px;
  }
  
  .star-rating {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .star-rating svg {
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .star-rating svg:hover {
    transform: scale(1.2);
  }
  
  .rating-label {
    margin-right: 10px;
    font-weight: bold;
  }
  
